
a {
  text-decoration: none;
  align-self: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

  .menuLinks {
    color: rgb(240, 240, 240);
    background-color: #ca6e5e;
    margin-right: .5em;
  }
  
  .menuLinks:hover {
    color: #fecd6c
  }

  #name {
    letter-spacing: 10px;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    background-color: #ca6e5e;
  }
  
  nav {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-decoration: none;
    font-size: 10px;
    background-color: #ca6e5e
  }

  .flip-card {

    width: 310px;
    height: 210px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front {
    color: black;
    height: 100%;
    border: solid 4px #ca6e5e;
    width: 100%;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    color: #ca6e5e;
  }
  
  /* Style the back side */
  .flip-card-back {
    border: solid 4px rgb(240, 240, 240);
    background-color: #ca6e5e;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    font-size:small;
    color: white;
  }

  .dates {
    color: white;
  }

  .name {
    font-weight: bolder
  }

  .title {
    letter-spacing: .4rem;
    color: #720980dc;
    text-decoration: underline #fecd6c;
    font-weight: bolder;
  }

  .title:hover {
    color:#fecd6c
  }

  .projects {
    color: #ca6e5e;
    font-family: 'Poiret One', cursive;
    letter-spacing: 2rem;
  }

  #myname {
    font-family: 'Poiret One', cursive;
    color: #ca6e5e;
    font-weight: bolder;
  }

  #gh {
    color: #ca6e5e;
  }

  #a {
    opacity: .5;
  }

  .gh {
    color: #ca6e5e
  }

  .gh:hover {
    color: #fecd6c
  }

  .fade-inHey {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }

  .fade-inName {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0
  }

  .fade-inInfo {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    border: solid 4px #ca6e5e;
  }

  .fade-inTitle {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  #me {
    position:  absolute;
    right: -25px;
  
  }